@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  h3 {
    font-weight: 600;
  }
}

@layer components {
  :not(.show-stats):not(.show-teams).teamsAndStats {
    @apply hidden h-0;
  }

  .custom-shadow {
    filter: drop-shadow(0 4px 8px rgb(0 0 0 / 0.75));
  }

  .types-flex {
    @apply flex flex-col items-center gap-1 py-2 border-t bg-lightM-darkBismark dark:bg-transparent dark:border-darkM-lightIndigo3 relative;
  }

  .sidemenu {
    @apply fixed bottom-0 bigTablet:top-0 bigTablet:w-1/2 bigTablet:right-0 grid grid-cols-2  bg-lightM-bismark dark:bg-darkM-darkBlue transition-all duration-200 w-full z-20 h-fit;
  }

  .sidemenu-hidden {
    @apply translate-y-full bigTablet:translate-y-0 bigTablet:translate-x-full hidden  !important;

    pointer-events: none;
  }

  .sidemenu-btn {
    @apply fixed bottom-[45px] bigTablet:bottom-auto bigTablet:top-6 bigTablet:left-[calc(100%_-_4.5rem)] bigTablet:translate-x-0 w-[35px] h-[35px] transition-all duration-200 rounded-full flex items-center justify-center p-1 bg-lightM-darkBismark dark:bg-darkM-darkBlue left-1/2 -translate-x-1/2 z-50;
  }

  .saved-teams {
    @apply min-h-[40%] max-h-[40%]  col-span-2 p-3 overflow-y-scroll pl-6 w-full transition-all duration-100 bigTablet:border-l dark:border-darkM-whiteBlue;
  }

  .toggle-darkMode {
    @apply h-[12px] w-[50px] dark:bg-darkM-lightIndigo2 rounded-full hover:cursor-pointer items-center flex group bg-darkM-whiteIndigo absolute;
  }

  .saved-teams_btn,
  .statistics_btn {
    @apply hover:cursor-pointer dark:text-darkM-whiteBlue flex flex-col justify-around items-center border dark:border-darkM-whiteBlue pt-2 bigTablet:h-[16vh];
  }

  .statistics {
    @apply grid-cols-2 gap-2 min-h-[60%] max-h-[60%]  col-span-2 p-3 pl-6 w-full auto-rows-min overflow-y-scroll transition-all duration-100 bigTablet:border-l dark:border-darkM-whiteBlue;
  }

  .custom-shadow-sm {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.85));
  }

  .bar-immune,
  .bar-stabeff {
    @apply bg-darkM-yellow;
  }

  .bar-resist,
  .bar-eff {
    @apply bg-darkM-whiteIndigo;
  }

  .lift-sidemenu-btn {
    @apply bottom-[180px] bg-lightM-blackPearl dark:bg-darkM-violet !important;
  }

  .pick-btn {
    @apply bg-lightM-bismark hover:bg-lightM-lightBismark  dark:bg-darkM-lightIndigo1 dark:hover:bg-darkM-lightIndigo3 py-1 transition-all duration-200;
  }

  .pick-btn-active {
    @apply bg-lightM-lightBismark dark:bg-darkM-lightIndigo3 border-b-4  border-white;
  }

  .activated .carret-down {
    transform: rotate(0);
  }

  .rounded-unset {
    border-radius: unset;
  }

  .slots-select,
  .slots {
    @apply h-fit my-auto flex flex-col  gap-3;
  }

  .slot-select {
    @apply flex flex-col justify-center ml-3  relative;
  }

  .slot-select_btn {
    @apply font-semibold dark:bg-darkM-violet bg-lightM-lightBismark rounded-xl text-center py-1 dark:text-darkM-whiteIndigo;
  }

  .slot-select_ul {
    @apply hidden w-full text-center pt-1 mt-1 bg-lightM-darkBismark dark:bg-darkM-lightIndigo1 dark:text-darkM-whiteIndigo rounded-md text-sm min-h-[52px] max-h-[200px] overflow-y-scroll  absolute top-8 z-20  flex-col items-center;
  }

  .slot-select_input {
    @apply w-[calc(100%_-_0.5rem)] dark:text-darkM-indigo mx-1 pl-1;
  }

  .slot-select_li {
    @apply hover:cursor-pointer w-full py-1 hover:bg-lightM-lightBismark dark:hover:bg-darkM-lightIndigo3;
  }

  .slot {
    @apply font-semibold rounded-xl text-center py-1 text-white  text-ellipsis overflow-hidden h-[1.815rem] line-clamp-1 break-words;
  }

  .filter-fullyEvo.fullyEvo-only {
    @apply bg-lightM-middleBismark  dark:bg-darkM-yellow;
  }

  .filter-menu_ul {
    @apply hidden flex-col w-full absolute top-[30px] bg-lightM-lightBismark dark:text-darkM-whiteIndigo dark:bg-darkM-lightIndigo3 rounded-lg text-center h-[100px] overflow-y-scroll z-10;
  }

  .team-member {
    @apply dark:bg-darkM-lightIndigo1 rounded-md  border dark:border-darkM-lightIndigo3 relative;
  }

  :not(.hide-moveset).team-member {
    @apply rounded-b-none laptop:rounded-b-md  laptop:rounded-r-none;
  }

  .moveset-menu {
    @apply absolute left-[-1px] text-sm top-full rounded-b-md bg-white dark:bg-darkM-purple border dark:border-darkM-lightIndigo3 w-[calc(100%_+_2px)] z-40 transition-all duration-300 ease-out h-[235px] laptop:left-full laptop:top-[-1px] laptop:h-[calc(100%_+_2px)] laptop:w-[calc(100%_+_0.8rem)] laptop:rounded-b-none laptop:rounded-r-md;
  }

  .moveset-menu-btn {
    @apply absolute right-2 top-1/2 -translate-y-1/2 bg-lightM-lightBismark hover:bg-white dark:bg-darkM-lightIndigo3 dark:hover:bg-darkM-purple p-1 rounded-full transition-all duration-200 flex items-center justify-center rotate-180 laptop:rotate-90;
  }

  .moveset-hidden {
    @apply -translate-y-full laptop:translate-y-0 laptop:-translate-x-full opacity-0;

    pointer-events: none;
  }

  .moveset-menu-btn-open {
    @apply rotate-0 laptop:-rotate-90;
  }

  .team-member-1 {
  }

  .team-member-2 {
    @apply hidden tablet:block;
  }
  .team-member-3 {
    @apply hidden laptop:block;
  }
  .team-member-4 {
    @apply hidden laptop:block;
  }
  .team-member-5 {
    @apply hidden laptop:block;
  }
  .team-member-6 {
    @apply hidden laptop:block;
  }

  .icon {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin: auto;
  }

  .bug {
    background: #92bc2c;
    box-shadow: 0 0 20px #92bc2c;
  }

  .dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
  }

  .dragon {
    background: #0c69c8;
    box-shadow: 0 0 20px #0c69c8;
  }

  .electric {
    background: #f2d94e;
    box-shadow: 0 0 20px #f2d94e;
  }

  .fairy {
    background: #ee90e6;
    box-shadow: 0 0 20px #ee90e6;
  }

  .fighting {
    background: #d3425f;
    box-shadow: 0 0 20px #d3425f;
  }

  .fire {
    background: #fba54c;
    box-shadow: 0 0 20px #fba54c;
  }

  .flying {
    background: #a1bbec;
    box-shadow: 0 0 20px #a1bbec;
  }

  .ghost {
    background: #5f6dbc;
    box-shadow: 0 0 20px #5f6dbc;
  }

  .grass {
    background: #5fbd58;
    box-shadow: 0 0 20px #5fbd58;
  }

  .ground {
    background: #da7c4d;
    box-shadow: 0 0 20px #da7c4d;
  }

  .ice {
    background: #75d0c1;
    box-shadow: 0 0 20px #75d0c1;
  }

  .normal {
    background: #a0a29f;
    box-shadow: 0 0 20px #a0a29f;
  }

  .poison {
    background: #b763cf;
    box-shadow: 0 0 20px #b763cf;
  }

  .psychic {
    background: #fa8581;
    box-shadow: 0 0 20px #fa8581;
  }

  .rock {
    background: #c9bb8a;
    box-shadow: 0 0 20px #c9bb8a;
  }

  .steel {
    background: #5695a3;
    box-shadow: 0 0 20px #5695a3;
  }

  .water {
    background: #539ddf;
    box-shadow: 0 0 20px #539ddf;
  }
}
